.operation {
  background: yellow;
  color: black;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

span {
  font-weight: bold;
}

.process-card {
  padding: 10px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: yellow;
}

.process-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.split {
  display: flex;
  gap: 5px;
  padding: 0;
}

pre {
  margin-top: -10px;
}
